<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>webdev.nginx</string>
		<key>RunAtLoad</key>
		<true/>
		<key>KeepAlive</key>
		<false/>
		<key>ProgramArguments</key>
		<array>
			<string>${WEBDEV_NGINX_PATH}/bin/nginx</string>
			<string>-c</string>
			<string>${WEBDEV_NGINX_CONF_PATH}/nginx.conf</string>
			<string>-g</string>
			<string>daemon off;</string>
		</array>
		<key>WorkingDirectory</key>
		<string>/usr/local</string>
<!--		
		<key>UserName</key>
		<string>${LOGNAME}</string>
-->
		<key>NetworkState</key>
		<true/>
	    <key>LaunchOnlyOnce</key>
	    <true/>
		<key>StandardErrorPath</key>
		<string>${WEBDEV_LOG_PATH}/nginx_console.log</string>
		<key>StandardOutPath</key>
		<string>${WEBDEV_LOG_PATH}/nginx_console.log</string>
<!--		
		<key>Sockets</key>
		<dict>
		    <key>Listeners</key>
		    <dict>
		        <key>SockServiceName</key>
		        <string>http</string>
		    </dict>
		</dict>
		-->
	</dict>
</plist>
