<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>log-path</key>
	<string>/Users/ambrosini_c/Library/Logs/WebDev</string>
	<key>php-version</key>
	<string>5.4</string>
	<key>service-configs</key>
	<dict>
		<key>nginx</key>
		<dict>
			<key>port</key>
			<string>8080</string>
			<key>root</key>
			<string>${HOME}/Sites</string>
			<key>server_name</key>
			<string>localhost</string>
			<key>worker_connections</key>
			<string>1024</string>
			<key>worker_processes</key>
			<string>1</string>
		</dict>
		<key>php</key>
		<dict>
			<key>date_timezone</key>
			<string>${localTimeZone}</string>
			<key>default_charset</key>
			<string>UTF-8</string>
			<key>display_errors</key>
			<string>On</string>
			<key>display_startup_errors</key>
			<string>On</string>
			<key>error_reporting</key>
			<string>E_ALL</string>
			<key>expose_php</key>
			<string>On</string>
			<key>extension_dir</key>
			<string>${WEBDEV_PHP_PATH}/lib/php/extensions</string>
			<key>file_uploads</key>
			<string>On</string>
			<key>implicit_flush</key>
			<string>Off</string>
			<key>include_path</key>
			<string>${WEBDEV_PHP_PATH}/include/php:${HOME}/lib/php/include-dir</string>
			<key>log_errors</key>
			<string>On</string>
			<key>max_execution_time</key>
			<string>600</string>
			<key>max_file_uploads</key>
			<string>20</string>
			<key>max_input_time</key>
			<string>60</string>
			<key>memory_limit</key>
			<string>128M</string>
			<key>post_max_size</key>
			<string>8M</string>
			<key>upload_max_filesize</key>
			<string>2M</string>
		</dict>
		<key>phpfpm</key>
		<dict>
			<key>group</key>
			<string>_www</string>
			<key>listen</key>
			<string>127.0.0.1:9000</string>
			<key>pm_max_children</key>
			<string>10</string>
			<key>pm_max_requests</key>
			<string>0</string>
			<key>pm_max_spare_servers</key>
			<string>5</string>
			<key>pm_min_spare_servers</key>
			<string>2</string>
			<key>pm_process_idle_timeout</key>
			<string>10s</string>
			<key>pm_start_servers</key>
			<string>3</string>
			<key>user</key>
			<string>_www</string>
		</dict>
	</dict>
	<key>services</key>
	<dict>
		<key>mongo</key>
		<false/>
		<key>mysql</key>
		<true/>
		<key>nginx</key>
		<true/>
		<key>phpfpm</key>
		<true/>
	</dict>
	<key>sites</key>
	<dict>
		<key>homepi</key>
		<dict>
			<key>name</key>
			<string>homepi</string>
			<key>port</key>
			<string>80</string>
			<key>root</key>
			<string>${HOME}/Sites/HomePi</string>
			<key>server_name</key>
			<string>homepi.localhost</string>
			<key>type</key>
			<string>symfony2-dev</string>
		</dict>
	</dict>
</dict>
</plist>
